@import './reset.scss';

html,
body {
  width: 100%;
  height: 100%;
  user-select: none;
  overflow: hidden;
  font-family: 'PingFangSC-Light', 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', 'Arial', 'sans-serif';
}