.el-button,
.el-input,
.el-checkbox {
  display: block !important;
}

.el-form-item__label {
  display: block !important;
  padding: 0 !important;
}

.el-dropdown-menu {
  top: 60px !important;
}

// footer-> 折叠面板
.footWrapper {
  .collapseWrapper {
    .el-collapse-item__header {
      font-weight: bold !important;
      font-size: 18px !important;
    }

    .el-collapse-item__content div {
      margin-top: 10px !important;
    }
  }
}